{% extends "mainApp/wrapper.html" %}

{% block content %}
<h1>Данные для поиска в ccstat</h1>
    <div class="features">
        <form    method="post">
            {% csrf_token %}
            {{ form.ekbid }}<br><br>
            {{ form.card }}<br><br>
            <span>{{ error }}</span><br><br>
            <span>
                {% for val in info %}
                    {{val}}<br>
                {% endfor %}
            </span><br>
            <button class="btn btn-success" type="submit">Поиск</button>
        </form>
    </div>
{% endblock %}