{% extends "mainApp/wrapper.html" %}

{% block content %}
<p>Данные для поиска в ccstat</p>
<div class="jumbotton" align="center">
    <input class="input--style-4" name="id" id="id" placeholder="Введите ид клиента">
    <a href="/ccstat" type="button" class="btn btn-outline-success">Поиск по ЕКБИД</a>
</div>
<div class="jumbotton" align="center">
    <input class="input--style-4"  name="card" id="card" placeholder="Введите карту ">
     <a href="{% url ccstat_search_card %}" type="button" class="btn btn-outline-success">Поиск по карту</a>
</div>
{% endblock %}