<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Загловок страницы</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
<body>

    <div class="jumbotton" align="center">

        <div class="container" align="center">
            <h1>antifraud</h1>
                {% block content %}
                {% endblock %}
            <p>
                <a href="/" class="btn btn-success btn-lg">Главная страница</a>
                <a href="/news" class="btn btn-primary btn-lg">Узнать больше &raquo;</a>
                 <a href="/contact" class="btn btn-info btn-lg">Контакты &raquo;</a>
                <a href="/info" class="btn btn-dark btn-lg">Информация &raquo;</a>

            </p>
        </div>
    </div>
    <div class="container" align="center">
        <a href="/news" class="btn btn-primary btn-lg">Узнать больше &raquo;</a>
        <a href="/contact" class="btn btn-info btn-lg">Контакты &raquo;</a>
        <img src="{% static 'mainApp/image/1.jpg'%}" class="img-thumbnail" height="100%" width="100%">
    </div>
</body>
</html>